name: Validate datasets.csv
on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Validation datasets.csv
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: pip install requests
    - name: Run main
      run: python test.py
